/* =================================================================================================== */
:root {
  /* Blue Colors */
  --shimmering-sky: #c2d9ff;
  --ocean-blue: #3887be;
  --midnight-indigo: #38419d;
  --columbia-blue: #bdd5ea;
  --sapphire: #0353a4;
  --oxford-blue: #061a40;

  /* Indigo & Purple Colors */
  --soft-indigo: #8e8ffa;
  --vivid-lavender: #7752fe;
  --lilac-dream: #865dff;
  --sapphire-twilight: #6d67e4;

  /* Deep & Dark Colors */
  --deep-night: #190482;
  --twilight-magenta: #200e3a;
  --dark-burgundy: #4c0027;
  --berry-wine: #750550;

  /* Pink & Fuchsia Colors */
  --mystic-pink: #e384ff;
  --fuchsia-bliss: #980f5a;
  --sapphire-pink: #e63e6d;
  --ruby-rose: #b42b51;

  /* Turquoise Color */
  --turquoise-splash: #52d3d8;

  /* White & Black Colors */
  --ghost-white: #f7f7ff;
  --void: #0f111e;
  --abyss: #0e101e;
  --dark-navy: #010730;

  /* Border Witdhs*/
  --border-heavy: 0.65rem;
  --border-medium: 0.4rem;
  --border-light: 0.22rem;
  --border-super-light: 0.16rem;

  /* New Variables for Common Styles */
  --border-radius: 3rem;
  --border: 0.65rem solid var(--sapphire-twilight);
  --margin: 1rem;
  --padding: 1rem;
  --flex-display: flex;
  --flex-direction-row: row;
  --flex-direction-column: column;
  --justify-content: space-evenly;
  --align-items: center;
  --gap: 1rem;
  --background-size: cover;
  --font-size: 1.3rem;
  --border-radius-small: 2rem;
  --background-color-dark: var(--dark-burgundy);
  --background-color-light: var(--fuchsia-bliss);
  --text-align: center;
  --word-wrap: break-word;
  --fit-content: fit-content;
}

/* =================================================================================================== */
/* UNIVERSAL STYLING... */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;

  font-family: "Raleway", "Montserrat", sans-serif;

  color: white;
}

body {
  background: url(./assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* =================================================================================================== */
/* MAIN CONTENT */

.main-content {
  display: var(--flex-display);
  flex-direction: var(--flex-direction-column);
  justify-content: var(--align-items);
  align-items: var(--align-items);
}

.main-content div {
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}

/* =================================================================================================== */
/* NAVIGATION BAR */

nav .nav__logo img {
  width: 5rem;
  height: auto;
  border-radius: 2rem;
  display: flex;
  flex: 1;
}

nav .nav__list {
  display: var(--flex-display);
  flex-direction: var(--flex-direction-row);
  flex-wrap: wrap;
  gap: var(--gap);
  justify-content: flex-end;
  flex: 2;
  background-color: var(--berry-wine);
  padding: var(--padding);
  margin: var(--margin);
  padding-right: 2rem;
  padding-left: 2rem;
  border: var(--border);
  border-radius: var(--border-radius);
  width: var(--fit-content);
}

nav .nav__link button {
  background-color: var(--dark-burgundy);
  padding: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border: 0.35rem solid var(--sapphire-twilight);
  border-radius: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav .nav__icon {
  margin-right: 1rem;
}

/* =================================================================================================== */
/* LANDING DOCK */

.main-content__hero {
  background-color: var(--berry-wine);
  display: var(--flex-display);
  flex-direction: var(--flex-direction-row);
  flex-wrap: wrap;
  gap: var(--gap);
  justify-content: var(--justify-content);
  padding: var(--padding);
  margin: var(--margin);
  border: var(--border);
  border-radius: var(--border-radius);
  width: var(--fit-content);
}

.hero__description {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(./assets/hero_background.png);
  background-size: var(--background-size);
  flex: 2;
  display: var(--flex-display);
  flex-direction: var(--flex-direction-column);
  gap: var(--gap);
  align-items: flex-start;
  justify-content: flex-end;
  padding: 3rem;
  margin: var(--margin);
  border: var(--border);
  border-radius: var(--border-radius-small);
  font-size: var(--font-size);
}

.hero__description h1 {
  font-size: 2.1rem;
}

.hero__description h2,
.hero__description h3 {
  font-size: 2.8rem;
}

.hero__description h2 i,
.hero__description h3 i {
  font-size: 2rem;
  margin-left: 1rem;
}

.hero__headshot {
  background-color: lightseagreen;
  flex: 1;

  background: url(./assets/profile_placeholder.png);
  background-size: cover;

  height: 25rem;
  width: auto;

  padding: 1rem;
  margin: 1rem;

  border: 0.65rem solid var(--sapphire-twilight);
  border-radius: 2rem;
}

/* =================================================================================================== */
/* SKILLSET DOCK */

.main-content__skills {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(./assets/skills_background.png);
  background-size: contain;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari browser support */

  display: flex;
  flex-direction: row;

  padding: 1rem;
  margin: 1rem;

  border: 0.65rem solid var(--sapphire-twilight);
  border-radius: 3rem;

  width: fit-content;
}

.skills__header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./assets/skills_header_background.png);
  background-size: cover;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari browser support */

  margin: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0.5rem 0.25rem 1rem #0e101e;

  font-size: 1.4rem;
  word-wrap: break-word;
  max-width: fit-content;

  border: 0.65rem solid var(--sapphire-twilight);
  border-radius: 2rem;
}

.skills__list {
  background-color: var(--background-color-dark);
  padding: 2rem;
  margin: var(--margin);
  display: var(--flex-display);
  flex-direction: var(--flex-direction-row);
  gap: var(--gap);
  justify-content: var(--justify-content);
  flex-wrap: wrap;
  border: var(--border);
  border-radius: var(--border-radius);
}

.skills__item {
  background-color: var(--background-color-light);

  padding: 1.4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;

  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex: 1;
  justify-content: center;
  align-items: center;

  border: 0.45rem solid var(--sapphire-twilight);
  border-radius: 3rem;
}

.skills__item h1 {
  font-size: 1.6rem;
}

.skills__item span {
  margin-left: 0.3rem;
}

.skills__logo img {
  width: 1.85rem;
  height: auto;

  background-color: white;

  padding: 0.5rem;

  border: 0.25rem solid var(--sapphire-twilight);
  border-radius: 5rem;
}

/* PORTFOLIO */

.main-content__projects {
  background-color: var(--background-color-dark);
  padding: var(--padding);
  margin: var(--margin);
  display: var(--flex-display);
  flex-direction: var(--flex-direction-column);
  gap: var(--gap);
  justify-content: var(--align-items);
  align-items: var(--align-items);
  flex-wrap: wrap;
  width: var(--fit-content);
  border: var(--border);
  border-radius: var(--border-radius);
}

.projects__header {
  margin-top: 1rem;
  margin-bottom: 1rem;

  padding: 1.15rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  font-size: 1.25rem;

  background-color: var(--berry-wine);

  border: 0.45rem solid var(--sapphire-twilight);
  border-radius: 3rem;
}

.projects__list {
  background-color: var(--background-color-light);
  padding: var(--padding);
  margin: var(--margin);
  margin-top: 0;
  width: var(--fit-content);
  display: var(--flex-display);
  flex-direction: var(--flex-direction-row);
  gap: var(--gap);
  justify-content: var(--justify-content);
  flex-wrap: wrap;
  border: var(--border);
  border-radius: var(--border-radius-small);
}

.projects__item-container .projects__card {
  background-color: var(--berry-wine);

  padding: 1rem;
  margin: 1rem;

  height: 20rem;
  width: fit-content;

  border: 0.65rem solid var(--sapphire-twilight);
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.projects__details {
  display: var(--flex-display);
  flex-direction: var(--flex-direction-column);
  justify-content: flex-end;
  align-items: flex-start;
}
