.Navbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 2rem;

  justify-content: flex-start;
  align-items: flex-start;

  position: fixed;
  top: 0;
  width: fit-content;
  background-color: #1d1e24; /* Set the background color to prevent content from showing through */
  padding: 0.75rem;
  border-radius: 1rem;
  z-index: 1000; /* Ensure the navbar is above other elements */
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
}

.Navbar .navigation-button {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;

  background: linear-gradient(
    27.5deg,
    rgb(90, 0, 26),
    rgb(147, 0, 42),
    rgb(170, 0, 48)
  );
  border-radius: 0.5rem;

  color: whitesmoke;
  font-size: 1.4rem;

  justify-content: center;
  align-items: center;

  width: fit-content;
  height: 4rem;

  padding: 0 0.75rem 0 0.75rem;

  border: none;

  box-shadow: 10px 10px 20px rgb(0, 0, 0);
}

.Navbar .contact-button {
  background: linear-gradient(
    27.5deg,
    rgb(0, 32, 90),
    rgb(0, 73, 147),
    rgb(0, 170, 170)
  );
  border-radius: 0.5rem;

  color: whitesmoke;

  justify-content: center;
  align-items: center;

  width: fit-content;
  height: 4rem;

  padding: 0.75rem;

  border: none;

  box-shadow: 10px 10px 20px rgb(0, 0, 0);
}

.Navbar .navigation-button h3 {
  font-weight: 500;
}

.Navbar .navigation-button span img {
  background-color: rgb(53, 0, 13);
  padding: 0.5rem;
  border-radius: 0.5rem;

  width: 2.5rem; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */

  justify-content: center;
  align-items: center;
}

.Navbar .contact-button span img {
  width: 2.25rem; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */

  justify-content: center;
  align-items: center;
}

.Navbar button:hover {
  background: linear-gradient(
    187.5deg,
    rgb(238, 211, 0),
    rgb(200, 160, 0),
    rgb(214, 118, 0)
  );
}
