.Navbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 2rem;

  justify-content: flex-start;
  align-items: flex-start;
}

.Navbar button {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;

  background: linear-gradient(rgb(90, 0, 26), rgb(147, 0, 42), rgb(170, 0, 48));
  border-radius: 0.5rem;

  color: whitesmoke;
  font-size: 1.4rem;

  justify-content: center;
  align-items: center;

  width: fit-content;
  height: 4rem;

  padding: 0 0.75rem 0 0.75rem;

  border: none;
}

.Navbar button h3 {
  font-weight: 500;
}

.Navbar button span img {
  background-color: rgb(53, 0, 13);
  padding: 0.5rem;
  border-radius: 0.5rem;

  width: 2.5rem; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */

  justify-content: center;
  align-items: center;
}

.Navbar button:hover {
  box-shadow: 0.3rem 0.3rem 0.25rem 0.25rem rgba(242, 59, 105, 0.4);
}
