/* =================================================================================================== */
/* NAVIGATION BAR */

nav {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  width: 95vw;
}

nav .nav__logo {
  display: flex;
}

nav .nav__logo img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 5rem;
  height: auto;
  border-radius: 2rem;
}

nav .nav-list__container {
  display: var(--flex-display);
  flex-direction: var(--flex-direction-row);
  justify-content: flex-end;
}

nav .nav__list {
  display: var(--flex-display);
  flex-direction: var(--flex-direction-row);
  flex-wrap: wrap;
  gap: var(--gap);
  justify-content: flex-end;
  background-color: var(--berry-wine);
  padding: var(--padding);
  margin: var(--margin);
  padding-right: 2rem;
  padding-left: 2rem;
  border: var(--border);
  border-radius: var(--border-radius);
  width: var(--fit-content);
}

nav .nav__link button {
  background-color: var(--dark-burgundy);
  padding: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border: 0.35rem solid var(--sapphire-twilight);
  border-radius: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: all 0.3s ease;
}

nav .nav__link button:hover {
  border: 0.35rem solid var(--twilight-magenta);
  color: white;
  background-color: var(--soft-indigo);
}

nav .nav__icon {
  margin-right: 1rem;
}
