/* PORTFOLIO */

.main-content__projects {
  background-color: var(--background-color-dark);
  padding: var(--padding);
  margin: var(--margin);
  display: var(--flex-display);
  flex-direction: var(--flex-direction-column);
  gap: var(--gap);
  justify-content: var(--align-items);
  align-items: var(--align-items);
  flex-wrap: wrap;
  width: var(--fit-content);
  border: var(--border);
  border-radius: var(--border-radius);
}

.projects__header {
  margin-top: 1rem;
  margin-bottom: 1rem;

  padding: 1.15rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  font-size: 1.25rem;

  background-color: var(--berry-wine);

  border: 0.45rem solid var(--sapphire-twilight);
  border-radius: 3rem;
}

.projects__list {
  background-color: var(--background-color-light);
  padding: var(--padding);
  margin: var(--margin);
  margin-top: 0;
  width: var(--fit-content);
  display: var(--flex-display);
  flex-direction: var(--flex-direction-row);
  gap: var(--gap);
  justify-content: var(--justify-content);
  flex-wrap: wrap;
  border: var(--border);
  border-radius: var(--border-radius-small);
}

.projects__item-container .projects__card {
  background-color: var(--berry-wine);

  padding: 1rem;
  margin: 1rem;

  height: 20rem;
  width: fit-content;

  border: 0.65rem solid var(--sapphire-twilight);
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.projects__details {
  display: var(--flex-display);
  flex-direction: var(--flex-direction-column);
  justify-content: flex-end;
  align-items: flex-start;
}
