.Navbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 2rem;
}

.Navbar div {
  background-color: black;
  padding: 0.575rem 1rem 0.75rem 1rem;
  border-radius: 0.5rem;

  color: whitesmoke;
  font-size: 1.4rem;
  box-shadow: 0.3rem 0.3rem 0.25rem 0.25rem rgba(162, 71, 237, 0.6);
}

.Navbar div span img {
  background-color: rgb(163, 71, 237);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 0.75rem;
}
