.project-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 1rem;
  border-radius: 2rem;
  background: linear-gradient(rgb(86, 29, 185), rgb(11, 119, 136));
}

.project-container__title {
  align-self: center;
  justify-self: center;
  color: white;
  font-weight: 800;
  letter-spacing: 2rem;
  line-height: 2rem;

  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.project-container__card-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
