.project-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 1rem;
  padding-bottom: 2rem;
  border-radius: 2rem;
  background-color: #1d1e24;
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
}

.project-container__title {
  align-self: center;
  justify-self: center;
  color: white;
  font-weight: 800;
  letter-spacing: 3rem;
  line-height: 2rem;

  font-size: 3rem;
  margin: 1rem 0 2.5rem 0;

  text-shadow: 10px 10px 20px rgb(0, 0, 0);
}

.project-container__card-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
